/*UNIVERSAL STYLES*/
html {
    font-size: 16px;
    font-family: helvetica;
}

body {
    font-size: 16px;
    font-family: helvetica;
 display: block;
 margin: 0;
 padding: 0px;
 width: 100%;
}

/* HEADER - SCHOOL NAME/LOGO & RIGHT-SIDE NAV */
div.header {
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 100%;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    
}
/* SCHOOL NAME/LOGO */
ul.school-logo {
    justify-content: flex-start;
    padding-left: 24px;
    margin: 0;
}
li#colmar-logo {
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
a#colmar {
color: black;
}  
a#academy-logo {
color: gray;
}

/* RIGHT-SIDE NAV BAR */
ul.nav-header {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-right: 8px;
    padding: 0;
}

li.nav-float-right {
    display: flex;   
    padding-right:16px; 
}





/* MAIN SECTION */
main.first-section-flexbox {
    display: inline-flex;
    /*width: 100%; ! using this makes the hor scroll on all the time*/
    background-color: lightgray;
    padding-left: 24px;
    
}
/* IMAGE IN FIRST SECTION */
img#main-image {
    display: flex;
    align-items: flex-start;
    width: 60%;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    float: left;
    flex-basis: 100%;
}
/* ASIDE FIRST-SECTION CONTENT & FORM */
div.first-section-header {
    width: 100%;
    color: #40464F;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 125px; 
    font-weight: bold;
    overflow: hidden;
    float: right;
}

h1.headers { 
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    padding-bottom: 15px;  
    
}

/* FORM / ENROLL/START BUTTON */
button.enroll-button {
    background-color: black;
    margin-top: 50px;
    padding: 8px 0px 8px 0px;
    color: lightgray;
    font-size: 1.5rem;
    display: block;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 0;
}






/* SECOND SECTION - LEFT*/

div.main-secondary {
    font-family: helvetica;
    font-size: 1.25rem;
    display: block;
    padding: 32px 0px 32px 24px;
} /* mess with this if hor scroll bar exists */




div.secondary {
    font-family: helvetica;
    font-size: 1.25rem;
    display: block;
    width: 98%;
    height: auto;
    
} /* mess with this if hor scroll bar exists */
div.secondary-left-side {
    display: flex;
    flex-direction: column;
    float: left;
    height: auto;
    width: 58%;    
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
    margin-right: 16px;
    font-family: helvetica;
    font-size: 1.25rem;
    
}

img#practice-img {
    display: flex;
    width: 100%;
    height: 357px;
    padding-bottom: 32px;
    align-items: flex-start;
    
    
}
 h1.main-secondary-header {
     padding-bottom: 4px;
     margin: 0;
 }

div.right-container {
    padding-top: 32px;
    display: flex;
    float: right;
    width: 38%;
    height: auto;
    
}



div.read-more-imgs {
    display: block;
    height: auto;
    width: 35%;
    margin: 0;
    float: left;
}

img.secondary-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 32px;
}


div.read-more {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    float: left; 
    flex-wrap: wrap;
    padding-left: 16px;
  
}
 
span.orientation {
     display: flex;
     flex-direction: column;
    
 }





/* MID-PAGE */


h1.header-main {
    clear: both;
    display: block;
    line-height: 8px;
    text-align: center;
    margin: 0px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 24px;
}

div.mid-page {
    clear: both;
    display: block;
    justify-content: center;
    background-color: #d3d3d396;
    padding: 32px 72px 32px 72px; 
}

div.mid-page-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 32px;
    width: 100%;
    justify-content: center;
}


div#computer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    line-height: 16px;
    align-items: flex-start;
    padding-bottom: 24px;
}

img.third-section-imgs {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}

span.course-info {
    display: block;
    line-height: 8px;
    padding-left: 16px;
    padding-right: 50px;
    color: rgb(104, 104, 104);
    word-spacing: 0px;
}

p.course-info {
    line-height: 20px;
    margin: 0;
    letter-spacing: 1px;
}






/* BOTTOM OF PAGE */

div.bottom-section {
    color: rgb(104, 104, 104);
    display: block;
    margin: 32px 8px 32px 24px;
}

h1.header-main {
    display: block;
    height: 24px;
    
}

span.bottom-section {
    display: block;
    width: 55%;
    float: left;
    padding-right: 24px;
}
video {
    width: 100%;
}


span.float-right-bottom, span.float-right-bottom2 {
    display: inline-flex;
    flex-direction: row;
    width: 40%;
    float: left;
    flex-wrap:  nowrap; 
    
    align-items: center;
}

span.float-right-bottom2, img.float-right-bottom2 {
    background-color: lightgray;
}

img.float-right-bottom, img.float-right-bottom2 {
    width: 35%;
    height: auto;
    padding: 16px;

}


/* FOOTER */
footer {
    clear: both;
}